
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
  }


  .header_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-items: center;
  }
 
  .logo {
  height: 200px;
}

.botao:hover {
  border: solid #135382;
}

@media(max-width: 900px){
  header {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }

}

@media(max-width: 600px){
  header {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  .header_menu .botao {
    padding: 10px 15px;
    font-size: 13px;
  }

}
/* daqui para baixo é subtitulo e rodpe*/




.rodape {
  background: #f4f4f4;
  padding:20px 15px;
  font-size: large;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color:#066F33;
}

